* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 1.6rem;
  height: 95vh; }

.main {
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative; }

.discography {
  margin-top: 2rem; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.track_listing__title {
  font-size: 1.5rem;
  text-decoration: underline; }

.track_listing__tracks li {
  font-size: 1rem; }

.album {
  padding: 2rem 0;
  position: relative;
  height: 20rem;
  perspective: 150rem;
  animation-name: fadeIn;
  animation-duration: 8s; }
  .album__side {
    height: 20rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    .album__side--back {
      transform: rotateY(180deg); }
  .album__cover {
    background-size: cover;
    height: 20rem;
    border-radius: .1rem; }
    .album__cover__album--1 {
      background-image: url(https://f4.bcbits.com/img/a2968607738_10.jpg); }
    .album__cover__album--2 {
      background-image: url(https://f4.bcbits.com/img/a3704103730_10.jpg); }
    .album__cover__album--3 {
      background-image: url(https://f4.bcbits.com/img/a1811713498_10.jpg); }
    .album__cover__album--4 {
      background-image: url(https://f4.bcbits.com/img/a1241228378_10.jpg); }
    .album__cover__album--5 {
      background-image: url(https://f4.bcbits.com/img/a0827930632_10.jpg); }
  .album:hover .album__side--front {
    transform: rotateY(-180deg); }
  .album:hover .album__side--back {
    transform: rotateY(0deg); }
  .album__details {
    padding: 1rem; }
    .album__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .album__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .5rem; }
        .album__details ul li:not(:last-child) {
          border-bottom: 1px solid #000000; }

.track_listing {
  padding: 2rem 0;
  position: relative;
  animation-name: moveInBottom;
  animation-duration: 8s; }
  .track_listing__title {
    text-transform: uppercase;
    text-decoration: underline; }
  .track_listing__tracks li {
    list-style: none; }

.spotify,
.apple,
.bandcamp {
  width: 2rem;
  height: 2rem;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 15s;
  margin-right: 1rem;
  margin-top: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 1rem) / 5); }

.primary__h1 {
  top: 0;
  left: 50%;
  text-align: center;
  padding: .3rem .3rem;
  border: 0.4rem solid #000000;
  width: 40%;
  margin: 0 auto;
  animation-name: moveInTop;
  animation-duration: 5s; }

.primary-artist {
  display: block;
  font-size: 5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  animation-name: moveInTop;
  animation-duration: 5s; }

.primary-title {
  display: block;
  font-size: 4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 3s; }

body {
  background-image: url("/assets/images/shapelined-_JBKdviweXI-unsplash.jpg");
  background-blend-mode: screen; }
