* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2rem; }

.main {
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.album {
  padding: 2rem 0;
  position: relative;
  height: 20rem; }
  .album__side {
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }
  .album__cover {
    background-size: cover;
    height: 20rem; }
    .album__cover__album--1 {
      background-image: url(https://f4.bcbits.com/img/a2968607738_10.jpg); }
    .album__cover__album--2 {
      background-image: url(https://f4.bcbits.com/img/a3704103730_10.jpg); }
    .album__cover__album--3 {
      background-image: url(https://f4.bcbits.com/img/a1811713498_10.jpg); }
    .album__cover__album--4 {
      background-image: url(https://f4.bcbits.com/img/a1241228378_10.jpg); }
    .album__cover__album--5 {
      background-image: url(https://f4.bcbits.com/img/a0827930632_10.jpg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 1rem) / 5); }

.primary__h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: .3rem .3rem; }

.primary-artist {
  display: block;
  font-size: 5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  animation-name: moveInTop;
  animation-duration: 3s; }

.primary-title {
  display: block;
  font-size: 4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 3s; }
