// GRID

$grid-width: 114rem;
$gutter-verticle: .5rem;
$gutter-horizontal: 1rem;

//COLORS

$color-black: #000000;
$color-grey: #8C8C8C;
$color-light-grey: #D9D9D9;

//FONTS

$track-titles: 1rem;
$album-titles: 1.5rem;