* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.main {
    height: 95vh;
    width: 100%;
    background-image: url("https://f4.bcbits.com/img/a1811713498_10.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}

.primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: .3rem .3rem;
}

.primary-artist {
    display: block;
    font-size: 5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;

    animation-name: moveInTop;
    animation-duration: 3s;
}

.primary-title {
    display: block;
    font-size: 4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;

    animation-name: moveInBottom;
    animation-duration: 3s;
}

.media-player {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


