.album {
    padding: 2rem 0;
    position: relative;
    height: 20rem;


    &__side {
        height: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    &__cover {

        background-size: cover;
        height: 20rem;

        &__album--1 {
            background-image: url(https://f4.bcbits.com/img/a2968607738_10.jpg);
        }

        &__album--2 {
            background-image: url(https://f4.bcbits.com/img/a3704103730_10.jpg);
        }

        &__album--3 {
            background-image: url(https://f4.bcbits.com/img/a1811713498_10.jpg);
        }

        &__album--4 {
            background-image: url(https://f4.bcbits.com/img/a1241228378_10.jpg);
        }

        &__album--5 {
            background-image: url(https://f4.bcbits.com/img/a0827930632_10.jpg);
        }
    }


    
}







