* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.main {
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    position: relative;
}
