* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1.6rem;
    height: 95vh;
}

.main {

    width: 100%;
    background-size: cover;
    background-position: top;
    position: relative;
}

.discography {
    margin-top: 2rem;
}