body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.track_listing {

    &__title {
        font-size: $album-titles;
        text-decoration: underline;
    }

    &__tracks {

        li {
        font-size: $track-titles;
        }
    }
}